contao-toolset/extra/db-dump-ext/dumps
contao-toolset/extra/files-download-ext/files
contao-toolset/apps/project-app/output/*
!contao-toolset/apps/project-app/output/README.md
contao-toolset/extra/templates-ext/ouptut/*
!contao-toolset/extra/templates-ext/ouptut/README.md


package-lock.json
contao-toolset/contao_toolset.json

node_modules
src

!contao-toolset/apps/project-app/src
files
!contao-toolset/apps/project-app/files
!contao-toolset/extra/openai/integration/files
composer.json
composer.lock
contao-info.json
vendor
system 
assets
.gitlab-ci.yml
composer.phar
!contao-toolset/apps/project-app/composer.phar
!.gitkeep
web
public
todo.md

/config
!contao-toolset/apps/project-app/config/*

/.vscode

