$theme-white:#FFFFFF;
$theme-black:#000;
$theme-red:#93181C;
$theme-blue:#17375F;
$theme-lightblue:#BDD4E8;
$theme-text:#717171;

$size-desktop: 1920px;
$size-xlarge: 1539px;
$size-mlarge: 1399px;
$size-large: 1199px;
$size-medium: 991px;
$size-small: 767px;
$size-lsmall: 639px;
$size-xsmall: 479px;
$size-smobile: 359px;
$size-percent-desktop: 98%;
$size-percent-tablet: 96%;
$size-percent-mobile: 100%;

$font-standart: 'Raleway', sans-serif;
$font-raleway: 'Raleway', sans-serif;
$font-joesefin: 'Josefin Sans', sans-serif;
$font-good_karma: 'Good Karma Regular', sans-serif;